.titleDeveloper {
  font-size: 230%;
  font-weight: 700;
}

.titleName {
  font-size: 230%;
  font-weight: 700;
}

.infoText {
  font-size: 100%;
  font-weight: 600;
}

.icon {
  size: 500%;
}

.profileImage {
  width: calc(10vw + 110px);
  height: calc(10vw + 110px);
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage:hover {
  filter: grayscale(0%);
}

.profileImageContainer {
  cursor: pointer;
}

.iconImage {
  width: 80px;
  height: 80px;
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: filter 0.5s ease;
}

.link {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.link-group {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.underline-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: currentColor;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.link-group:hover .underline-hover {
  opacity: 1;
}
