.projectCard{
    background-color: light-dark(white, black);
}

.projectImage{
    object-fit: cover;
    width: 340px;
    display: flex;
    justify-content: center;
    height: 210px !important;
    border-radius: 10px;
}